#corner-off {   
			
	            -webkit-border-radius: 0 !important;
	     		-moz-border-radius: 0 !important;
	            border-radius: 0 !important;
         }

#brand {
				font-size: 150%;
				font-weight: 150%;
				font-style: verdana,sans-serif;
}

#main-content{
				min-height: 500px;
				background-color: #ffffff;
				width:60%;
				margin-left: 10%;
				margin-top: 40px;
				margin-bottom: 50px;
				border: 1px solid #e6e6e6;
				border-radius: 7px;
				float: left;

}
#question-header{
				padding: 20px 5px 15px 5px;
				border-bottom: 1px solid #e6e6e6;
				margin-left: 20px;
				margin-right: 20px;
}
#question-content {
				padding: 10px 10px 10px 10px;
				float: right;
				width:90%;
				font-weight: 120%;
				font-size: 120%;
}
#votes {
				padding: 10px 10px 10px 10px;
				float: left;

}
#question-footer {
				float: right;
				width: 30%;
				background-color: #e6f2ff;
				height: 90px;
				padding: 10px 10px 10px 10px;
				font-weight: 120%;
				margin-right: 10px;
				margin-bottom: 20px;
}
#seperator {
				border-bottom:3px solid #e6e6e6;
				clear: both;	
				width: 95%;
				margin-left:10px;
			
}
#ans {
				padding-top: 20px;
				padding-bottom: 20px;
}
#ans-header {
				font-weight: 130%;
				font-size: 145%;
				padding-left: 20px;
				clear:both;
				padding-bottom: 10px;
}

.ans-votes {
				padding: 10px 10px 10px 10px;
				float: left;	
}

.ans-content {
				padding: 10px 10px 10px 10px;
				float: right;
				width:90%;
				font-weight: 105%;
				font-size: 105%;
}

.ans-footer {
				float: right;
				width: 30%;
				background-color: #ffffe6;
				height: 90px;
				padding: 10px 10px 10px 10px;
				font-weight: 120%;
				margin-right: 10px;
				margin-bottom: 20px;
}

.ans-border {
				border-bottom:1px solid #e6e6e6;
				clear: both;	
				width: 90%;
				margin-left:20px;

}
#accepted-ans{
				padding-top: 20px;
}

#post-area {
				
				
				width:60%;
				margin-left: 10%;
				margin-top: 5px;

						
}
#post-me {
				border: 1px solid #e6e6e6;
				border-radius: 7px;
				width:100%;
				background-color: #ffffff;
}
#submit-btn {
				margin-top: 20px;
}

#page-footer {
				margin-top:20px;
				margin-bottom: 20px;
}

#sub-post {
				font-weight: 140%;
				font-size: 140%;
				margin-left: 10%;
				padding:10px 10px;
				clear: both;
				margin-top: 10px;
}

/* discussion page styling is ended*/

#page-author {
				margin-top:30px;
				font-weight: 170%;
				font-size: 170%;
				margin-left: 10%;
}

.dis-header {
				padding: 8px 5px 15px 5px;
				margin-left: 20px;
				margin-right: 20px;
				font-weight: 130%;
				font-size: 100%;
				width:90%;

}

.dis-content {
				padding: 20px 10px 10px 20px;
				
				font-weight: 110%;
				font-size: 110%;

}

.dis-left-footer {
				float:left;
				padding: 20px 10px 10px 40px;
				width:20%;
				height:20px;
				
}



.dis-right-footer {
				float: right;
				padding: 10px 20px 10px 10px;
				font-weight: 120%;
				font-size: 120%;
				background-color: #ffffe6;
				margin-top: 20px;
				margin-right:10px;
}

.up {
				padding :0px 10px;
}

.down  {
				padding :0px 10px;				
}

.seperator {
				border-bottom:3px solid #e6e6e6;
				clear: both;	
				width: 95%;
				margin-left:10px;
				padding: 25px 0px;
}

.middle {
				padding: 10px 20px 0px 20px ;
				font-weight: 160%;
				font-size: 135%;
}

#side-content {
				float: right;
				width: 20%;
				margin :40px 80px auto 10px;
				background-color: #ffffff;
				border: 1px solid #e6e6e6;
				border-radius: 7px;
				min-height: 400px;
				height:600px;
}

#side-content-header {
				padding: 10px 20px 0px 20px ;
				font-weight: 160%;
				font-size: 135%;
				width: 80%;
				border-bottom: 1px solid #e6e6e6; 
				margin-left: 20px;
}

.add-dis {
				padding: 10px 10px 5px 10px ;
				font-weight: 130%;
				
}

.add-dis-author {
				float:right;
				padding: 10px 20px 5px auto;
				font-weight: 140%;
				font-size: 115%;
				margin-right: 20px;

}

.add-border {
				border-bottom:2px solid #e6e6e6;
				clear: both;	
				width: 95%;
				margin-left:10px;
				margin-right:10px;
				padding: 10px 0px;
}

